.glp-image-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glp-image-preview-modal.glp-modal-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.glp-image-preview-modal .glp-modal-close {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 15px;
  cursor: pointer;
}

